<div class="city-search">
  {{#if userInSession}}
    <h5>Welcome, {{userInSession.username}}!</h5>
  {{/if}}
  <br />
  <h2>Discover and book the best restaurant.</h2>
  <br />
  <h5>Please choose the city you would like to dine at below.</h5>

  <div class="input-group mb-3">
    <select class="form-select">
      {{#each cities}}
        <option value="{{@index}}">{{this}}</option>
      {{/each}}
    </select>
    <!--TODO: add city name to list route -->
    <a href="/restaurants/list/"><label
        class="input-group-text"
      >Find</label></a>
  </div>
</div>

<div class="mt-5">
  <h2 class="mb-4">Booking table</h2>
  <!-- card -->
  {{#each bookings}}
    <div class="card w-75 mb-3 mt-2">
      <div class="card-body">
        <h5 class="card-title"> {{this.name}}</h5>
        <p class="card-text">No. of People: {{this.numOfPeople}}</p>
        <p class="card-text">Date: {{this.date}}</p>
        <p class="card-text">Time: {{this.time}}</p>
        <a href="#" class="btn btn-primary">Cancle</a>
      </div>
    </div>
  {{/each}}
  <!-- card end -->
</div>